.page {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--font-color);
    font-family: var(--main-font-family);
}

.header {
    block-size: 100vh;
    min-block-size: 763px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header__block {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 12px 0;
    gap: 10px;
}

.header__block_logo {
    align-self: center;
    position: relative;
}

.header__block_logo-img {
    display: block;
    block-size: 50px;
    inline-size: 200px;
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .page__loading {
    visibility: hidden;
  }

  .page__loaded {
    visibility: visible;
  }
  
  .swiper-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.header__block_items {
    display: flex;
    position: relative;
    gap: 28px;
    justify-content: space-between;
}

.header__block_item-img {
    inline-size: 25px;
    block-size: 25px;
}

.header__block_accent {
    background-color: var(--accent-color);
    block-size: 207px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    clip-path: polygon(15% 0%, 100% 0%, 100% 76%, 83% 102%, 0% 100%, 0% 24%);
}

.header__title {
    font-weight: inherit;
    font-size: 30px;
    text-align: center;
    font-family: var(--title-font);
    line-height: 30.63px;
}

.button {
    font-weight: 700;
    border: none;
}

.header__button {
    background-color: var(--hero-btn-bg-color);
    color: var(--hero-btn-text-color);
    font-size: 20px;
    padding: 10px 50px;
    line-height: 40px;
    margin: 0 38px;
}