.page {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--font-color);
    font-family: var(--main-font-family);
    background-color: var(--bg-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    block-size: 100vh;
    min-block-size: 763px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header__block {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 12px 0;
    gap: 10px;
}

.header__block_logo {
    align-self: center;
    position: relative;
}

.header__block_logo-img {
    display: block;
    block-size: 50px;
    inline-size: 200px;
}

.section__form-label-type {
    display: none;
}

.section__form_button-file {
    opacity: 0;
    position: absolute;
}

.section__form-label-text {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px solid var(--bg-color);
}

.section__form_button-submit {
    background-color: var(--hero-btn-text-color);
    padding: 19px 50px;
    color: var(--section-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.section__form-label {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg-color);
    border: 1px dashed var(--border-dashed);
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
  
.swiper-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__block_items {
    display: flex;
    position: relative;
    gap: 28px;
    justify-content: space-between;
}

.header__block_item-img {
    inline-size: 25px;
    block-size: 25px;
}

.header__block_accent {
    background-color: var(--accent-color);
    block-size: 207px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    clip-path: polygon(15% 0%, 100% 0%, 100% 76%, 83% 102%, 0% 100%, 0% 24%);
}

.header__title {
    font-weight: inherit;
    font-size: 30px;
    text-align: center;
    font-family: var(--title-font);
    line-height: 30.63px;
}

.button {
    font-weight: 700;
    border: none;
}

.header__button {
    background-color: var(--hero-btn-bg-color);
    color: var(--hero-btn-text-color);
    font-size: 20px;
    padding: 10px 50px;
    line-height: 40px;
    margin: 0 38px;
}

.section {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.section:first-of-type {
    gap: 60px;
}

.section__block {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section__title {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: inherit;
    line-height: 30.63px;
}

.section__text_span {
    color: var(--accent-text-color);
    font-weight: 700;
}

.section__gallery {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section__gallery_img {
    display: block;
    object-fit: cover;
    object-position: center;
}

.low-img {
    clip-path: polygon(15% 0%, 101% 0%, 100% 75%, 81% 105%, 0% 100%, 0% 25%);
}

.hight-img {
    clip-path: polygon(16% 0%, 101% 0%, 100% 88%, 82% 102%, 0% 100%, 0% 12%);
}

.section-dark {
    background-color: var(--section-color);
    background-image: url(../images/mobile/top-section-decor-320.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    color: var(--dark-bg-font-color);
}

.section__promo::before {
    position: absolute;
    content: "";
    z-index: 1;
    background-image: url(../images/logos/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    block-size: 62px;
    inline-size: 62px;
    inset-inline-start: 12px;
    inset-block-start: 76px;
}

.section__block-promo {
    position: absolute;
    content: "";
    font-family: var(--title-font);
    color: var(--accent-color);
    transform: rotate(-45deg);
    font-size: 14px;
    line-height: 14.29px;
    inset-inline-start: 25px;
    inset-block-start: 100px;
    text-transform: lowercase;
}

.section__block-promo::before {
    content: "акция";
}

.section__img {
    display: block;
    object-fit: contain;
    object-position: center;
    padding: 55px 12px 25.15px;
}

.section__form {
    padding: 70px 12px;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark-bg-font-color);
}

.section__form-input {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0;
    background-color: transparent;
    color: var(--dark-bg-font-color);
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    border-bottom: 1px solid var(--border-dashed);
    padding-bottom: 13px;
}