.page {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--font-color);
    font-family: var(--main-font-family);
    background-color: var(--bg-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    block-size: 100vh;
    min-block-size: 763px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header__block {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 12px 0;
    gap: 10px;
}

.header__block_logo {
    align-self: center;
    position: relative;
}

.header__block_logo-img {
    display: block;
    block-size: 50px;
    inline-size: 200px;
}

.section__form-label-type {
    display: none;
    margin-top: 7px;
    line-height: 1.0;
}

.section__form_button-file {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.section__form-label-text {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 1.0;
    font-size: 16px;
    border-bottom: 1px solid var(--bg-color);
}

.section__form_button-submit {
    background-color: var(--hero-btn-text-color);
    padding: 19px 50px;
    color: var(--section-color);
    font-size: 16px;
    height: 60px;
    width: 182px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__form_agree {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    width: 100%;
    padding-top: 14px;
    margin: 0px;
}

.checkbox__input {
    opacity: 0;
    position: absolute;
}

.checkbox__text {
    display: flex;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: inherit;
}

.checkbox__text::before {
    content: "";
    margin-right: 10px;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: 1px solid #777777;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox__input:checked+.checkbox__text::before {
    background-image: url(../images/logos/checkbox.svg);
  }


.section__form-label {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-block-size: 120px;
    align-items: center;
    color: var(--dark-bg-font-color);
    border: 1px dashed var(--border-dashed);
    margin-bottom: 35px;
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
  
div .swiper-slide {
    width: 100%;
    height: 93%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__block_items {
    display: flex;
    position: relative;
    gap: 28px;
    justify-content: space-between;
}

.header__block_item-img {
    inline-size: 25px;
    block-size: 25px;
}

.header__block_accent {
    background-color: var(--accent-color);
    block-size: 207px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    clip-path: polygon(15% 0%, 100% 0%, 100% 76%, 83% 102%, 0% 100%, 0% 24%);
}

.header__title {
    font-weight: inherit;
    font-size: 30px;
    text-align: center;
    font-family: var(--title-font);
    line-height: 30.63px;
}

.button {
    font-weight: 700;
    border: none;
}

.header__button {
    background-color: var(--hero-btn-bg-color);
    color: var(--hero-btn-text-color);
    font-size: 20px;
    padding: 10px 50px;
    line-height: 40px;
    margin: 0 38px;
}

.section {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.section:first-of-type {
    gap: 60px;
}

.section__block {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section__title {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: inherit;
    line-height: 30.63px;
}

.section__text_span {
    color: var(--accent-text-color);
    font-weight: 700;
}

.section__gallery {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section__gallery_img {
    display: block;
    object-fit: cover;
    object-position: center;
}

.low-img {
    clip-path: polygon(15% 0%, 101% 0%, 100% 75%, 81% 105%, 0% 100%, 0% 25%);
}

.hight-img {
    clip-path: polygon(16% 0%, 101% 0%, 100% 88%, 82% 102%, 0% 100%, 0% 12%);
}

.section-dark {
    padding-bottom: 0;
    background-color: var(--section-color);
    background-image: url(../images/mobile/top-section-decor-320.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    color: var(--dark-bg-font-color);
}

.section__promo::before {
    position: absolute;
    content: "";
    z-index: 1;
    background-image: url(../images/logos/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    block-size: 62px;
    inline-size: 62px;
    inset-inline-start: 12px;
    inset-block-start: 76px;
}

.section__block-promo {
    position: absolute;
    content: "";
    font-family: var(--title-font);
    color: var(--accent-color);
    transform: rotate(-45deg);
    font-size: 14px;
    line-height: 14.29px;
    inset-inline-start: 25px;
    inset-block-start: 100px;
    text-transform: lowercase;
}

.section__block-promo::before {
    content: "акция";
}

.section__img {
    display: block;
    object-fit: contain;
    object-position: center;
    padding: 55px 12px 25.15px;
}

.section__form {
    padding: 59px 12px 70px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark-bg-font-color);
}

::placeholder {
    color: white;
}

.section__form-input {
    display: block;
    padding-bottom: 13px;
    margin-bottom: 35px;
    width: 100%;
    border: none;
    padding-left: 0;
    background-color: transparent;
    color: var(--dark-bg-font-color);
    font-family: var(--main-font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    border-bottom: 1px solid var(--border-dashed);
}

.section-bright {
    padding: 70px 12px;
    background-color: var(--accent-color);
    background-image: url(../images/mobile/bottom-section-decor-320.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-bright_imgs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 70px 0 0;
}

.section-bright__logos {
    display: flex;
    gap: 16.4px;
    justify-content: center;
    align-items: center;
}

.section-bright-img,
.section-bright__logos_item-img {
    display: block;
}

.item-logo {
    block-size: 43.85px;
    inline-size: 44px;
}

.item-x {
    block-size: 10.55px;
    inline-size: 49.33px;
}

.item-logo-main {
    block-size: 44px;
    inline-size: 175.41px;
}

.section-bright_content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-bright-block {
    padding: 0;
}

.section-bright__advantages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-bright__advantage-item-paint,
.section-bright__advantage-item-stars,
.section-bright__advantage-item-stack {
    position: relative;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.section-bright__advantage-item-paint::before {
    position: absolute;
    content: url(../images/mobile/paints.png);
    inset-inline-start: 0;
    inset-block-start: 0;
}

.section-bright__advantage-item-stars::before {
    position: absolute;
    content: url(../images/mobile/stars.png);
    inset-inline-start: 0;
    inset-block-start: 0;
}

.section-bright__advantage-item-stack::before {
    position: absolute;
    content: url(../images/mobile/stack.png);
    inset-inline-start: 0;
    inset-block-start: 0;
}

.section-bright__advantage-text {
    padding: 0 0 0 42px;
    line-height: 18.75px
}

.section-bright__button {
    margin-top: 22px;
    background-color: var(--bright-bg-btn-color);
    color: var(--accent-color);
    padding: 20.5px 50px;
    inline-size: 184px;
    line-height: 18.75px;
}



