:root {
    --main-font-family: "Roboto", sans-serif;
    --title-font: "Archangelsk", sans-serif;
    --bg-color: #FFFFFF;
    --hero-btn-bg-color: #000000;
    --hero-btn-text-color: #F8F200;
    --font-color: #000000;
    --accent-color: #F8F200;
}